.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  width: 70%;
  max-width: 300px;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  animation: modalFadeIn 0.3s ease;
}

.modal-status-icon.success {
  background-color: #d4edda;
  color: #28a745;
}

.modal-status-icon.fail {
  background-color: #f8d7da;
  color: #dc3545;
}

.modal-title {
  font-size: 24px;
  color: #333333;
  margin: 0;
}

.modal-message {
  font-size: 16px;
  color: #666666;
 margin: 0;
  line-height: 1.5;
}

.modal-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 25px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease;
}
.confirm-btn{
  background-color: #0056b3;
  
}
.confirm-btn:hover{
 background-color: #dc3546d2;
}

.OK:hover {
  background-color: #0056b3;
}

@keyframes modalFadeIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}